.videoSearchViewer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    overflow-y: auto;

    .videoSearchItems {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
