.mylistDetailPage {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .mylistDetail {
        display: flex;
        flex-direction: column;
        padding-inline: 10px;

        .mylistTitle {
            font-size: 1.5rem;
            font-weight: 600;
        }
        .mylistOwner {
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;
            height: 20px;
            align-items: center;
            gap: 2px;
            color: #c5c5c5;
            text-decoration: none;

            img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
            span {
                font-size: 0.8rem;
            }
        }
        .mylistMeta {
            display: flex;
            gap: 8px;
            font-size: 0.8rem;
            color: #c5c5c5;
        }
    }
    
    .mylistItems {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}