.userVideosPage {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .userVideosDetail {
        display: flex;
        flex-direction: column;
        padding-inline: 10px;

        .userVideosTitle {
            font-size: 1.5rem;
            font-weight: 600;
        }
        .userVideosMeta {
            display: flex;
            gap: 8px;
            font-size: 0.8rem;
            color: #c5c5c5;
        }
    }
}
