.controller {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    audio.player {
        display: none;
    }

    .songMeta {
        display: flex;
        flex-direction: row;
        padding: 15px;
        gap: 10px;
        flex: 0 0 auto;
        max-width: 30%;
        width: 30%;
        min-width: 165px;
        overflow: hidden;

        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }

        .songInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            gap: 5px;
            width: calc(30% - 80px);

            span.title {
                margin: 0;
                font-size: 0.85em;
                color: #f6f6f6;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span.artist {
                margin: 0;
                font-size: 0.7em;
                color: #a1a1a1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .songControls {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 500px;
        gap: 5px;
        max-width: 40%;
        width: 40%;

        .songCtrlButtons {
            display: flex;
            flex-direction: row;
            gap: 12px;
            justify-content: center;
            align-items: center;

            button {
                color: #a1a1a1;
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 1.5em;
                border-radius: 50%;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            button:disabled {
                color: #666;
                cursor: inherit;
            }

            button:hover {
                color: #f6f6f6;
            }

            button:disabled:hover {
                color: #666;
            }

            button.playButton {
                font-size: 2.5em;
                color: #f6f6f6;
                width: 50px;
                height: 50px;
            }

            button.playButton:hover {
                font-size: 2.7em;
            }

            button.active {
                color: #00d400;
            }
        }

        .songCtrlRange {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            width: 100%;

            span {
                flex: 0 0 auto;
                width: 40px;
                text-align: center;
                font-size: 0.8em;
            }

            input[type="range"] {
                flex: 1;
            }
        }
    }

    .songExtButtons {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        gap: 15px;
        padding: 12px;
        max-width: 30%;
        width: 30%;

        button {
            color: #fff;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1.5em;
            border-radius: 50%;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button:disabled {
            color: #666;
            cursor: inherit;
        }

        button:hover {
            color: #f6f6f6;
        }

        button:disabled:hover {
            color: #666;
        }

        button.active {
            color: #00d400;
        }

        button.heart {
            color: #e672b2;
        }

    }
}
