.userSearchViewer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    overflow-y: auto;

    .userSearchItems {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .userSearchItem {
            height: 64px;
            display: flex;
            flex-direction: row;
            padding: 5px 15px;
            color: #f6f6f6;
            text-decoration: none;
            cursor: pointer;
            gap: 5px;

            img.userSearchItemIcon {
                height: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }

            .userSearchItemInfo {
                display: flex;
                flex-direction: row;
                gap: 5px;
                flex-direction: column;

                span.userSearchItemTitle {
                    font-size: 1rem;
                    font-weight: 600;
                    flex: 1;
                }

                span.userSearchItemDescription {
                    font-size: 0.7rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #b3b3b3;
                    height: 15px;
                }
                .userSearchItemStats {
                    display: flex;
                    flex-direction: row;
                    gap: 6px;
                    height: 15px;

                    .userSearchItemStatsItem {
                        display: flex;
                        gap: 3px;
                        font-size: 0.7rem;
                        color: #b3b3b3;
                    }
                }
            }
        }

        .userSearchItem:hover {
            background-color: #151515;
        }
    }
}
