.configPage {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .appInfo {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: baseline;
        padding-inline: 15px;

        h1 {
            margin: 0;
        }

        span {
            margin: 0;
        }
    }

    .configItem {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding-inline: 30px;
        justify-content: space-between;
        flex-wrap: wrap;

        .configItemTitle {
            font-size: 1em;
            font-weight: 600;
        }

        .equalizerController {
            max-width: 600px;
            height: 300px;
            margin-inline: 10px;
            flex: 1;
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            margin: 0;
            cursor: pointer;
        }
    }
}
