.rankingViewer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    .rankingItems {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}